.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: clamp(320px, 100vw, 1980px);
}
.firstsection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	width: 100%;
	height: 100vh;
}

.welcometext {
	font-size: clamp(1.7rem, -0.875rem + 8.333vw, 3.5rem);
}

.spantext {
	font-weight: lighter;
}

.littletext {
	font-size: 2rem;
}
